# Системные файлы (Mac/Windows)
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Логи и временные файлы
*.log
*.tmp

# Настройки редакторов кода
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Если вы используете Node.js (на будущее)
node_modules/
package-lock.json

# Личные черновики или файлы, которые вы не хотите светить (если появятся)
drafts/
TODO.txt
